.curtain-banner {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.curtain-banner.hide {
  pointer-events: none;
}

.left-curtain,
.right-curtain {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom, #4a2c0a, #2a1705);
  background-size: cover;
  transition: transform 1.2s cubic-bezier(0.77, 0, 0.175, 1);
}

.left-curtain {
  left: 0;
  border-right: 2px solid gold;
}

.right-curtain {
  right: 0;
  border-left: 2px solid gold;
}

.curtain-banner.hide .left-curtain {
  transform: translateX(-100%);
}

.curtain-banner.hide .right-curtain {
  transform: translateX(100%);
}

.curtain-banner.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease;
}


.open-btn {
  position: relative;
  z-index: 10000;
  padding: 0.7rem 1.5rem;
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
  color: white;
  font-size: 1.4rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.open-btn:hover {
  background: var(--primary-color);
  color: var(--accent-color);
  transform: scale(1.05);
}
