.curtain-banner {
  position: fixed;
  inset: 0; /* top:0; bottom:0; left:0; right:0; */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: opacity 1s ease, transform 1s ease;
}

.curtain-banner.hide {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.05); /* subtle zoom out effect when hiding */
}

.open-btn {
  font-family: "Noto Serif Devanagari", serif;
  padding: 0.8rem 1.5rem;
  background: rgba(157, 6, 88, 0.8); /* semi-transparent overlay for button */
  border: 2px solid #9d0658;
  color: white;
  font-size: 1.4rem;
  border-radius: 8px;
  cursor: pointer;
  z-index: 10000;
  transition: 0.3s ease;
}

.open-btn:hover {
  background: rgba(224, 215, 200, 0.9);
  color: #9d0658;
  transform: scale(1.05);
}
