.curtain-banner {
  position: fixed;
  inset: 0; /* top:0; bottom:0; left:0; right:0; */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: opacity 1s ease, transform 1s ease;
}

.curtain-banner.hide {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.05); /* subtle zoom out when hiding */
}

/* Image acting as button */
.open-btn-img {
  cursor: pointer;
  z-index: 10000;
  border-radius: 50%;
  width: 15%;
  height: 30%;
  margin-top: 5rem;
}
